@{
    ViewData["Title"] = "Classrooms Index";
}
@model List<GetClassroomsVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Sınıflar Listesi</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive-xl d-xl-table table-responsive-md table-responsive-sm table-sm table-responsive-lg table-responsive-xs ">
                    <table class="table table-responsive-md table-responsive-sm table-sm  table-responsive-lg table-responsive-xs table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Sınıf Adı</th>
                                <th>Açıklaması</th>
                                <th>Mevcut</th>
                                <th>Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var classroom in Model)
                            {
                                <tr>
                                    <td>@classroom.Id</td>
                                    <td>@classroom.ClassName</td>
                                    <td>@classroom.ClassDescription</td>
                                    <td>@classroom.ClassSize</td>
                                    <td>
                                        <a class="btn btn-outline-success" asp-controller="Students" asp-action="GetStudentsByClassroomId" asp-route-id="@classroom.Id"><i class="fa-solid fa-circle-info"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

