@{
    ViewData["Title"] = "Create Student";
}
@model CreateStudentDTO

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Yeni Öğrenci Ekle</h3>
            </div>
            <form asp-action="CreateStudent">
                <div class="card-body">
                    <div>
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="BirthDate" class="form-label"></label>
                        <input type="date" asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ClassroomId" class="form-label"></label>
                        <select asp-for="ClassroomId" class="form-control">
                            <option disabled selected value="0">Lütfen bir sınıf seçiniz</option>
                            @foreach (var classroom in Model.Classrooms)
                            {
                                <option value="@classroom.Id">@classroom.ClassroomName (@classroom.ClassroomDescription) - @classroom.TeacherName - (Sınıf Mevcudu: @classroom.ClassroomSize)</option>
                            }
                        </select>
                        <span asp-validation-for="ClassroomId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between" style="height:50px;">
                    <a asp-action="Index" class="btn btn-outline-dark">Geri Dön</a>
                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

