@{
    ViewData["Title"] = "Students Index";
}
@model List<GetStudentVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Öğrenciler Listesi</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive-xl d-xl-table table-responsive-md table-responsive-sm table-sm table-responsive-lg table-responsive-xs">
                    <table class="table table-responsive-md table-responsive-sm table-sm  table-responsive-lg table-responsive-xs table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Öğrenci</th>
                                <th>Doğum Tarihi</th>
                                <th>E-Mail</th>
                                <th>Sınıf Adı</th>
                                <th>Öğretmen</th>
                                <th>Ortalama</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>
                                <th>Durum</th>
                                <th>Detay</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model)
                            {
                                <tr>
                                    <td>@student.Id</td>
                                    <td>@student.FirstName @student.LastName</td>
                                    <td>@student.BirthDate.ToShortDateString()</td>
                                    <td>@student.Email</td>
                                    <td>@student.ClassroomName</td>
                                    <td>@student.TeacherName</td>
                                    <td>@student.Average</td>
                                    <td>@student.CreatedDate</td>
                                    @if (student.UpdatedDate is not null)
                                    {
                                        <td>@student.UpdatedDate</td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }

                                    @if (student.Status == StudentPortal_Core.Entities.Abstract.Status.Active)
                                    {
                                        <td>Aktif</td>
                                    }
                                    else
                                    {
                                        <td>Güncellenmiş</td>
                                    }
                                    <td>
                                        <a asp-action="DetailStudent" asp-route-id="@student.Id" class="btn btn-outline-success">Detay</a>
                                    </td>
                                    <td>
                                        <a asp-action="UpdateStudent" asp-route-id="@student.Id" class="btn btn-outline-primary">Güncelle</a>
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@student.Id">
                                            Sil
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-@student.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Silme Uyarısı</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Silmek istediğinize emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="DeleteStudent" asp-route-id="@student.Id" class="btn btn-danger">Evet</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
               </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-dark d-block" asp-action="CreateStudent">Yeni Öğrenci Ekle</a>
            </div>
        </div>
    </div>
</div>
